<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <welcome-file>form.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.mmall.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/a</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>beer</servlet-name>
    <servlet-class>com.mmall.servlet.BeerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>beer</servlet-name>
      <url-pattern>/selectBeer.do</url-pattern>
  </servlet-mapping>

    <servlet>
        <servlet-name>beer02</servlet-name>
        <servlet-class>com.mmall.servlet.BeerServlet02</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>beer02</servlet-name>
        <url-pattern>/selectBeer.do02</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>beer03</servlet-name>
        <servlet-class>com.mmall.servlet.BeerServlet03</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>beer03</servlet-name>
        <url-pattern>/selectBeer.do03</url-pattern>
    </servlet-mapping>
</web-app>




